node_modules/
client/src/app/environments/environment.secret.ts
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# .gitignore
client/.angular/cache/


### VS Code ###
.vscode/
